{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Survey
{% endblock %}




{% block content %}

{{ form.errors }}

{% if player.lottery1_1 == 1 %}
<input type="hidden" name="lottery1_player" id="lottery1_player" value = {{ lottery1_1_img }} />
<input type="hidden" name="lottery1_mask" id="lottery1_mask" value = {{ lottery1_1_mask }} />
<input type="hidden" name="lottery1_value" id="lottery1_value" value = {{ lottery1_1_value }} />

<p>
  <b>How do you rate the player on a scale from 1 to 100?</b>
</p>

<div class="hiddenradio">
    <label class="btn btn-secondary btn-info myselect">      
      <div style ="position: relative;">
    <img src="{% static lottery1_2_img %}" class="playercard" style="width: 150px; height: 225px;">
    <img src="{% static lottery1_2_mask %}" class="playerstats" style="width: 150px; height: 225px;">
      </div>
    </label>
</div>
<p>
<div class="form-group required">
  <label class="col-form-label" for="id_rate_lottery1_2"></label>
  <div class="controls  field-rate_lottery1_2">
    <input type="number" name="rate_lottery1_2" required id="id_rate_lottery1_2" class="form-control" />
  </div>      
</div>
</p>

{% else %}
<input type="hidden" name="lottery1_player" id="lottery1_player" value = {{ player.lottery1_player }} />
<input type="hidden" name="lottery1_mask" id="lottery1_mask" value = {{ player.lottery1_mask }} />
<input type="hidden" name="lottery1_value" id="lottery1_value" value = {{ player.lottery1_value }} />

{% if player.full_information %}
    <p>
        Your current team strengh is at {{ team_endowment }}.

        {% if probability %}
        This mean that your probability to win is at {{ team_endowment }} %. 
        {% else %}
        This mean that your current payoff is {{ team_endowment_cent }} €. 
        {% endif %}
    </p>
{% endif %}


<p>
  <b>Would you like to hire this player? (There are still 3 players which will presented to you)</b>
</p>

<div class="hiddenradio">
    <label class="btn btn-secondary btn-info myselect">      
      <div style ="position: relative;">
    <img src="{% static lottery1_2_img %}" class="playercard" style="width: 150px; height: 225px;">
    <img src="{% static lottery1_2_mask %}" class="playerstats" style="width: 150px; height: 225px;">
      </div>
    </label>
</div>
<p>
<div>
    <button name="lottery1_2" value=True class="btn btn-primary btn-large">Yes</button>
    <button name="lottery1_2" value=False class="btn btn-primary btn-large">No</button>
</div>
</p>



{% endif %}



{% endblock %}

{% block scripts %}
<style>
/* HIDE RADIO */
.hiddenradio [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
</style>

<style>
/* IMAGE STYLES */
.hiddenradio [type=radio] + img {
  cursor: pointer;
}
</style>

<style>
/* CHECKED STYLES */
.hiddenradio [type=radio]:checked + img {
  outline: 4px solid #f00;
}
</style>

<style>
.row{
    position: relative;
    width: 100%;
    height: 100%;
}
</style>

<style>
.playercard{
    position: relative;
    top:0px;
    left:0px;
}
</style>

<style>
.playerstats{
    position: absolute;
    top:0px;
    left:0px;
}
</style>
{% endblock %}